<% @title= "#{@player1.name} Vs #{@player2.name}"%>
<html>
<head>
  <style type="text/css">
    html
    {
      overflow: auto;
    }
    body{
      font-family: Arial;
      border: 0 none;
      height: 100vh;
      /*height: 600px;*/
    }
    #brand_div {
      width: 100%; 
      height: 100vh;
      background: url(assets/image3-e6e17229a3925b71f3a7409e6eb5c41421769c6d8a1143f61c955e4941e08142.jpg);
    }
    .vis_div {
      width: 100%; 
      height: 60vh;
    }
    .table
    {
      height: 20vh;
    }
    table 
    {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
      /*height: 20vh;*/
      /*height: 18%;*/
    }
    table, th, td 
    {
     border: 1px solid black;
    }
    td:nth-child(even) 
    {
      background-color: #f2f2f2
    }
    th:nth-child(even) 
    {
      background-color: #f2f2f2
    }
    td
    {
      width: 8%;
      /*height: 15px;*/
    }
    th
    {
      /*height: 50px;*/
    }

  </style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
      // change_value.js
      var change = function(config)
      {
        this.ele = document.getElementById(config.id); 
        this.val = config.i;
        this.val = parseInt(this.val);
        this.i_val = config.i;
        this.final_value = config.f;
        this.intervalId = -1;
        this.ele.innerHTML = this.i_val;

        if(this.final_value == this.i_val)
          return;
        else if(this.final_value > this.val)
        {
          if(this.final_value - this.i_val > config.time)
          {
            this.update_val = (this.final_value - this.i_val)/config.time;
            this.update_val = parseInt(this.update_val)+1;
            // console.log(this.update_val);
            this.intervalId = setInterval(this.make_change1.bind(this),5);
          }
          else
          {
            this.update_interval = config.time/(this.final_value - this.i_val);
            this.intervalId = setInterval(this.make_change.bind(this),this.update_interval);
          }
        }
        else
        {
          if(this.i_val - this.final_value > config.time)
          {
            this.update_val = (this.i_val - this.final_value)/config.time;
            this.update_val = parseInt(this.update_val)+1;
            // console.log(this.update_val);
            this.intervalId = setInterval(this.make_change1.bind(this),5);
          }
          else
          {
            this.update_interval = config.time/(this.i_val - this.final_value);
            this.intervalId = setInterval(this.make_change.bind(this),this.update_interval);
          }
        }

        

      };

      change.prototype.make_change = function()
      {
        if(this.final_value > this.i_val)
        {
          // console.log(this.update_interval);
          this.val += 1;
          // console.log(this.val);
          if(this.val>=this.final_value)
          {
            clearInterval(this.intervalId);
            this.val = this.final_value;
            // console.log('changed');
          }
        }
        else if(this.final_value < this.i_val)
        {
          // console.log(this.update_interval);

          this.val -= 1;
          if(this.val<=this.final_value)
          {
            clearInterval(this.intervalId);
            this.val = this.final_value;
            // console.log('chnaged');
          }
        }
        // console.log(val);
        this.ele.innerHTML = this.val;
      };

      change.prototype.make_change1 = function()
      {
        if(this.final_value > this.i_val)
        {
          // console.log(this.update_interval);
          this.val += 5*this.update_val;
          // console.log(this.val);
          if(this.val>=this.final_value)
          {
            clearInterval(this.intervalId);
            this.val = this.final_value;
            // console.log('changed');
          }
        }
        else if(this.final_value < this.i_val)
        {
          // console.log(this.update_interval);

          this.val -= 5*this.update_val;
          if(this.val<=this.final_value)
          {
            clearInterval(this.intervalId);
            this.val = this.final_value;
            // console.log('chnaged');
          }
        }
        // console.log(val);
        this.ele.innerHTML = this.val;
      };      
    </script>
  </head>
  <body>
<!-- 
   <%if(!@p1OdiRecord.nil?&&!@p2OdiRecord.nil?)%>
   <input type = 'button' id = 'b1' value = 'ODIs' />
   <%end%>
   <%if(!@p1T20Record.nil?&&!@p2T20Record.nil?)%>
   <input type = 'button' id = 'b2' value = 'T20s' />
   <%end%>
   <%if(!@p1TestRecord.nil?&&!@p2TestRecord.nil?)%>
   <input type = 'button' id = 'b3' value = 'Tests' />
   <%end%>
   <%if(!@p1IplRecord.nil?&&!@p2IplRecord.nil?)%>
   <input type = 'button' id = 'b4' value = 'IPLs' />
   <%end%> -->
   <div class="container">
    <div class="row" style="margin-top: 20px;">
     
        <div class="col s12 m7 l4">
            
            <div class="card horizontal">
              <div class="card-image">
                <%str="http://i.cricketcb.com/stats/img/faceImages/"+@idd1.to_s+".jpg"%>
                <img src=<%=str%> style="overflow: hidden;border-radius: 50% ">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col s12 m7 l4 offset-l4">
            
            <div class="card horizontal">
              <div class="card-image">
                <%str="http://i.cricketcb.com/stats/img/faceImages/"+@idd2.to_s+".jpg"%>
                <img src=<%=str%> style="overflow: hidden;border-radius: 50% ">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
      
      
    </div>
     
   </div>
   <div id="brand_div">
    <div id="header" style="height: 20vh"></div>
    <div class="vis_div" id="div1"> </div>
    <div class="vis_div" id="div2"> </div>
    <div class="vis_div" id="div3"> </div>
    
    <%if(!@p1OdiRecord.nil?&&!@p2OdiRecord.nil?)%>
    <input type = 'button' id = 'b1' value = 'ODIs' />
    <%end%>
    <%if(!@p1T20Record.nil?&&!@p2T20Record.nil?)%>
    <input type = 'button' id = 'b2' value = 'T20s' />
    <%end%>
    <%if(!@p1TestRecord.nil?&&!@p2TestRecord.nil?)%>
    <input type = 'button' id = 'b3' value = 'Tests' />
    <%end%>
    <%if(!@p1IplRecord.nil?&&!@p2IplRecord.nil?)%>
    <input type = 'button' id = 'b4' value = 'IPLs' />
    <%end%>
  
  <div class="table" id="odi_table">
    <table>
      <tr>
        <th></th>
        <th>Matches</th>
        <th>Innings</th>
        <th>Runs</th>
        <th>Highest<br>Score</th>
        <th>Avg</th>
        <th>Strike Rate</th>
        <th>Hundreds</th>
        <th>Double<br>Hundreds</th>
        <th>Fifty</th>
        <th>Fours</th>
        <th>Sixes</th>
      </tr>

      <tr>
        <!-- <% p1 = @player1.records.second %> -->
        <td><strong><%= @player1.name %></strong></td>
        <td id='m1'>0</td>
        <td id='inn1'>0</td>
        <td id='runs1'>0</td>
        <td id='hs1'>0</td>
        <td id='avg1'>0</td>
        <td id='sr1'>0</td>
        <td id=hundred1>0</td>
        <td id='dhundred1'>0</td>
        <td id='fifty1'>0</td>
        <td id='four1'>0</td>
        <td id='six1'>0</td>
      </tr>

      <tr>
        <!-- <% p1 = @player2.records.second %> -->
        <td><strong><%= @player2.name %></strong></td>
        <td id='m2'>0</td>
        <td id='inn2'>0</td>
        <td id='runs2'>0</td>
        <td id='hs2'>0</td>
        <td id='avg2'>0</td>
        <td id='sr2'>0</td>
        <td id='hundred2'>0</td>
        <td id='dhundred2'>0</td>
        <td id='fifty2'>0</td>
        <td id='four2'>0</td>
        <td id='six2'>0</td>
      </tr>
    </table>
  </div>
  </div>
</body>


<script type="text/javascript">
        var div_odi= document.getElementById('odi_table');
        google.charts.load('current');   // Don't need to specify chart libraries!
        google.charts.setOnLoadCallback(initialise);

        var options =
        {
         'title': 'Comparison',
         animation: {duration: 2000, startup: true,},
         bar: {groupWidth: "10%"}, 
         colors: ['DarkGoldenrod','Black'],
         opacity: 0.9,
         backgroundColor: 'none',
         vAxis: {
           gridlines: {
             color: 'transparent'
           }
         }
       };
       function initialise() {
        var wrapper1 = new google.visualization.ChartWrapper({
          containerId: 'div1'
        });
         var wrapper2 = new google.visualization.ChartWrapper({
          containerId: 'div2'
        });
          var wrapper3 = new google.visualization.ChartWrapper({
          containerId: 'div3'
        });

        var odiButton = document.getElementById('b1');  
        var t20Button = document.getElementById('b2');  
        var testButton = document.getElementById('b3');  
        var IplButton = document.getElementById('b4');  
        wrapper1.setOptions(options);
        wrapper2.setOptions(options);
        wrapper3.setOptions(options);

        function drawOdi()
        {
          options['title'] = "Comparison in ODIs";
          // console.log("Drawing");
          <% p1 = @p1OdiRecord %>
          <% p2 = @p2OdiRecord %>
          <% if(p1 && p2) %>
          var data1 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Strike Rate',<%= p1.sr %> , <%= p2.sr %>,],
          ['Fours/10',(<%= p1.four %>)/10, (<%= p2.four %>)/10],
          ['Sixes', <%= p1.six %>, <%= p2.six %>,],
          ['Average',<%= p1.avg %>, <%= p2.avg %>,]
          ];
          wrapper1.setChartType('AreaChart');
          wrapper1.setDataTable(data1);
          wrapper1.draw();
          var data2 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Hundreds',<%= p1.hundred %> , <%= p2.hundred %>,],
          ['Double Hundreds',<%= p1.dhundred %>,<%= p2.dhundred %>],
          ['Fifty', <%= p1.fifty %>, <%= p2.fifty %>,],
         
          ];
          wrapper2.setChartType('ColumnChart');
          wrapper2.setDataTable(data2);
          wrapper2.draw();
          var data3 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Matches',<%= p1.m %> , <%= p2.sr %>,],
          ['Innings',<%= p1.inn %>, <%= p2.inn %>],
          ['Runs', <%= p1.runs %>, <%= p2.runs %>,],
          ['Highest',<%= p1.hs %>, <%= p2.hs %>,]
          ];
          wrapper3.setChartType('ColumnChart');
          wrapper3.setDataTable(data3);
          wrapper3.draw();

          div_odi.style.display = 'block';
          // div_t20.style.display = 'none';
          // div_test.style.display = 'none';

          var ele = document.getElementById('m1');
          new change({i: ele.innerHTML, f: <%= p1.m %>, id: 'm1', time: 2000});

          ele = document.getElementById('inn1');
          new change({i: ele.innerHTML, f: <%= p1.inn %>, id: 'inn1', time: 2000});
          
          ele = document.getElementById('runs1');
          new change({i: ele.innerHTML, f: <%= p1.runs %>, id: 'runs1', time: 2000});
          
          ele = document.getElementById('hs1');
          new change({i: ele.innerHTML, f: <%= p1.hs %>, id: 'hs1', time: 2000});
          
          ele = document.getElementById('avg1');
          new change({i: ele.innerHTML, f: <%= p1.avg %>, id: 'avg1', time: 2000});
          
          ele = document.getElementById('sr1');
          new change({i: ele.innerHTML, f: <%= p1.sr %>, id: 'sr1', time: 2000});
          
          ele = document.getElementById('hundred1');
          new change({i: ele.innerHTML, f: <%= p1.hundred %>, id: 'hundred1', time: 2000});
          
          ele = document.getElementById('dhundred1');
          new change({i: ele.innerHTML, f: <%= p1.dhundred %>, id: 'dhundred1', time: 2000});
          
          ele = document.getElementById('fifty1');
          new change({i: ele.innerHTML, f: <%= p1.fifty %>, id: 'fifty1', time: 2000});
          
          ele = document.getElementById('four1');
          new change({i: ele.innerHTML, f: <%= p1.four %>, id: 'four1', time: 2000});
          
          ele = document.getElementById('six1');
          new change({i: ele.innerHTML, f: <%= p1.six %>, id: 'six1', time: 2000});    
          

          var ele = document.getElementById('m2');
          new change({i: ele.innerHTML, f: <%= p2.m %>, id: 'm2', time: 2000});

          ele = document.getElementById('inn2');
          new change({i: ele.innerHTML, f: <%= p2.inn %>, id: 'inn2', time: 2000});
          
          ele = document.getElementById('runs2');
          new change({i: ele.innerHTML, f: <%= p2.runs %>, id: 'runs2', time: 2000});
          
          ele = document.getElementById('hs2');
          new change({i: ele.innerHTML, f: <%= p2.hs %>, id: 'hs2', time: 2000});
          
          ele = document.getElementById('avg2');
          new change({i: ele.innerHTML, f: <%= p2.avg %>, id: 'avg2', time: 2000});
          
          ele = document.getElementById('sr2');
          new change({i: ele.innerHTML, f: <%= p2.sr %>, id: 'sr2', time: 2000});
          
          ele = document.getElementById('hundred2');
          new change({i: ele.innerHTML, f: <%= p2.hundred %>, id: 'hundred2', time: 2000});
          
          ele = document.getElementById('dhundred2');
          new change({i: ele.innerHTML, f: <%= p2.dhundred %>, id: 'dhundred2', time: 2000});
          
          ele = document.getElementById('fifty2');
          new change({i: ele.innerHTML, f: <%= p2.fifty %>, id: 'fifty2', time: 2000});
          
          ele = document.getElementById('four2');
          new change({i: ele.innerHTML, f: <%= p2.four %>, id: 'four2', time: 2000});
          
          ele = document.getElementById('six2');
          new change({i: ele.innerHTML, f: <%= p2.six %>, id: 'six2', time: 2000}); 
          <%end%>
        }

        function drawT20()
        {
          options['title'] = "Comparison in T20s";

          <% p1 = @p1T20Record %>
          <% p2 = @p2T20Record %>

          <% if(p1 && p2) %>
          
          var data1 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Strike Rate',<%= p1.sr %> , <%= p2.sr %>,],
          ['Fours/10',(<%= p1.four %>)/10, (<%= p2.four %>)/10],
          ['Sixes', <%= p1.six %>, <%= p2.six %>,],
          ['Average',<%= p1.avg %>, <%= p2.avg %>,]
          ];
          wrapper1.setChartType('ColumnChart');
          wrapper1.setDataTable(data1);
          wrapper1.draw();
          var data2 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Hundreds',<%= p1.hundred %> , <%= p2.hundred %>,],
          ['Double Hundreds',<%= p1.dhundred %>,<%= p2.dhundred %>],
          ['Fifty', <%= p1.fifty %>, <%= p2.fifty %>,],
         
          ];
          wrapper2.setChartType('ColumnChart');
          wrapper2.setDataTable(data2);
          wrapper2.draw();
          var data3 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Matches',<%= p1.m %> , <%= p2.sr %>,],
          ['Innings',<%= p1.inn %>, <%= p2.inn %>],
          ['Runs', <%= p1.runs %>, <%= p2.runs %>,],
          ['Highest',<%= p1.hs %>, <%= p2.hs %>,]
          ];
          wrapper3.setChartType('ColumnChart');
          wrapper3.setDataTable(data3);
          wrapper3.draw();
          div_odi.style.display = 'block';
          // div_t20.style.display = 'block';
          // div_test.style.display = 'none';

          var ele = document.getElementById('m1');
          new change({i: ele.innerHTML, f: <%= p1.m %>, id: 'm1', time: 2000});

          ele = document.getElementById('inn1');
          new change({i: ele.innerHTML, f: <%= p1.inn %>, id: 'inn1', time: 2000});
          
          ele = document.getElementById('runs1');
          new change({i: ele.innerHTML, f: <%= p1.runs %>, id: 'runs1', time: 2000});
          
          ele = document.getElementById('hs1');
          new change({i: ele.innerHTML, f: <%= p1.hs %>, id: 'hs1', time: 2000});
          
          ele = document.getElementById('avg1');
          new change({i: ele.innerHTML, f: <%= p1.avg %>, id: 'avg1', time: 2000});
          
          ele = document.getElementById('sr1');
          new change({i: ele.innerHTML, f: <%= p1.sr %>, id: 'sr1', time: 2000});
          
          ele = document.getElementById('hundred1');
          new change({i: ele.innerHTML, f: <%= p1.hundred %>, id: 'hundred1', time: 2000});
          
          ele = document.getElementById('dhundred1');
          new change({i: ele.innerHTML, f: <%= p1.dhundred %>, id: 'dhundred1', time: 2000});
          
          ele = document.getElementById('fifty1');
          new change({i: ele.innerHTML, f: <%= p1.fifty %>, id: 'fifty1', time: 2000});
          
          ele = document.getElementById('four1');
          new change({i: ele.innerHTML, f: <%= p1.four %>, id: 'four1', time: 2000});
          
          ele = document.getElementById('six1');
          new change({i: ele.innerHTML, f: <%= p1.six %>, id: 'six1', time: 2000});    
          

          var ele = document.getElementById('m2');
          new change({i: ele.innerHTML, f: <%= p2.m %>, id: 'm2', time: 2000});

          ele = document.getElementById('inn2');
          new change({i: ele.innerHTML, f: <%= p2.inn %>, id: 'inn2', time: 2000});
          
          ele = document.getElementById('runs2');
          new change({i: ele.innerHTML, f: <%= p2.runs %>, id: 'runs2', time: 2000});
          
          ele = document.getElementById('hs2');
          new change({i: ele.innerHTML, f: <%= p2.hs %>, id: 'hs2', time: 2000});
          
          ele = document.getElementById('avg2');
          new change({i: ele.innerHTML, f: <%= p2.avg %>, id: 'avg2', time: 2000});
          
          ele = document.getElementById('sr2');
          new change({i: ele.innerHTML, f: <%= p2.sr %>, id: 'sr2', time: 2000});
          
          ele = document.getElementById('hundred2');
          new change({i: ele.innerHTML, f: <%= p2.hundred %>, id: 'hundred2', time: 2000});
          
          ele = document.getElementById('dhundred2');
          new change({i: ele.innerHTML, f: <%= p2.dhundred %>, id: 'dhundred2', time: 2000});
          
          ele = document.getElementById('fifty2');
          new change({i: ele.innerHTML, f: <%= p2.fifty %>, id: 'fifty2', time: 2000});
          
          ele = document.getElementById('four2');
          new change({i: ele.innerHTML, f: <%= p2.four %>, id: 'four2', time: 2000});
          
          ele = document.getElementById('six2');
          new change({i: ele.innerHTML, f: <%= p2.six %>, id: 'six2', time: 2000});
          <%end%>
        }

        function drawTest()
        {
          options['title'] = "Comparison in Tests";

          <% p1 = @p1TestRecord %>
          <% p2 = @p2TestRecord %>

          <% if(p1 && p2) %>
          var data1 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Strike Rate',<%= p1.sr %> , <%= p2.sr %>,],
          ['Fours/10',(<%= p1.four %>)/10, (<%= p2.four %>)/10],
          ['Sixes', <%= p1.six %>, <%= p2.six %>,],
          ['Average',<%= p1.avg %>, <%= p2.avg %>,]
          ];
          wrapper1.setChartType('ColumnChart');
          wrapper1.setDataTable(data1);
          wrapper1.draw();
          var data2 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Hundreds',<%= p1.hundred %> , <%= p2.hundred %>,],
          ['Double Hundreds',<%= p1.dhundred %>,<%= p2.dhundred %>],
          ['Fifty', <%= p1.fifty %>, <%= p2.fifty %>,],
         
          ];
          wrapper2.setChartType('ColumnChart');
          wrapper2.setDataTable(data2);
          wrapper2.draw();
          var data3 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Matches',<%= p1.m %> , <%= p2.sr %>,],
          ['Innings',<%= p1.inn %>, <%= p2.inn %>],
          ['Runs', <%= p1.runs %>, <%= p2.runs %>,],
          ['Highest',<%= p1.hs %>, <%= p2.hs %>,]
          ];
          wrapper3.setChartType('ColumnChart');
          wrapper3.setDataTable(data3);
          wrapper3.draw();

          div_odi.style.display = 'block';
          // div_t20.style.display = 'none';
          // div_test.style.display = 'block';

          var ele = document.getElementById('m1');
          new change({i: ele.innerHTML, f: <%= p1.m %>, id: 'm1', time: 2000});

          ele = document.getElementById('inn1');
          new change({i: ele.innerHTML, f: <%= p1.inn %>, id: 'inn1', time: 2000});
          
          ele = document.getElementById('runs1');
          new change({i: ele.innerHTML, f: <%= p1.runs %>, id: 'runs1', time: 2000});
          
          ele = document.getElementById('hs1');
          new change({i: ele.innerHTML, f: <%= p1.hs %>, id: 'hs1', time: 2000});
          
          ele = document.getElementById('avg1');
          new change({i: ele.innerHTML, f: <%= p1.avg %>, id: 'avg1', time: 2000});
          
          ele = document.getElementById('sr1');
          new change({i: ele.innerHTML, f: <%= p1.sr %>, id: 'sr1', time: 2000});
          
          ele = document.getElementById('hundred1');
          new change({i: ele.innerHTML, f: <%= p1.hundred %>, id: 'hundred1', time: 2000});
          
          ele = document.getElementById('dhundred1');
          new change({i: ele.innerHTML, f: <%= p1.dhundred %>, id: 'dhundred1', time: 2000});
          
          ele = document.getElementById('fifty1');
          new change({i: ele.innerHTML, f: <%= p1.fifty %>, id: 'fifty1', time: 2000});
          
          ele = document.getElementById('four1');
          new change({i: ele.innerHTML, f: <%= p1.four %>, id: 'four1', time: 2000});
          
          ele = document.getElementById('six1');
          new change({i: ele.innerHTML, f: <%= p1.six %>, id: 'six1', time: 2000});    
          

          var ele = document.getElementById('m2');
          new change({i: ele.innerHTML, f: <%= p2.m %>, id: 'm2', time: 2000});

          ele = document.getElementById('inn2');
          new change({i: ele.innerHTML, f: <%= p2.inn %>, id: 'inn2', time: 2000});
          
          ele = document.getElementById('runs2');
          new change({i: ele.innerHTML, f: <%= p2.runs %>, id: 'runs2', time: 2000});
          
          ele = document.getElementById('hs2');
          new change({i: ele.innerHTML, f: <%= p2.hs %>, id: 'hs2', time: 2000});
          
          ele = document.getElementById('avg2');
          new change({i: ele.innerHTML, f: <%= p2.avg %>, id: 'avg2', time: 2000});
          
          ele = document.getElementById('sr2');
          new change({i: ele.innerHTML, f: <%= p2.sr %>, id: 'sr2', time: 2000});
          
          ele = document.getElementById('hundred2');
          new change({i: ele.innerHTML, f: <%= p2.hundred %>, id: 'hundred2', time: 2000});
          
          ele = document.getElementById('dhundred2');
          new change({i: ele.innerHTML, f: <%= p2.dhundred %>, id: 'dhundred2', time: 2000});
          
          ele = document.getElementById('fifty2');
          new change({i: ele.innerHTML, f: <%= p2.fifty %>, id: 'fifty2', time: 2000});
          
          ele = document.getElementById('four2');
          new change({i: ele.innerHTML, f: <%= p2.four %>, id: 'four2', time: 2000});
          
          ele = document.getElementById('six2');
          new change({i: ele.innerHTML, f: <%= p2.six %>, id: 'six2', time: 2000});
          <%end%>
        }

        function drawIPL()
        {
          options['title'] = "Comparison in IPL";

          <% p1 = @p1IplRecord %>
          <% p2 = @p2IplRecord %>

          <% if(p1 && p2) %>
          var data1 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Strike Rate',<%= p1.sr %> , <%= p2.sr %>,],
          ['Fours/10',(<%= p1.four %>)/10, (<%= p2.four %>)/10],
          ['Sixes', <%= p1.six %>, <%= p2.six %>,],
          ['Average',<%= p1.avg %>, <%= p2.avg %>,]
          ];
          wrapper1.setChartType('ColumnChart');
          wrapper1.setDataTable(data1);
          wrapper1.draw();
          var data2 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Hundreds',<%= p1.hundred %> , <%= p2.hundred %>,],
          ['Double Hundreds',<%= p1.dhundred %>,<%= p2.dhundred %>],
          ['Fifty', <%= p1.fifty %>, <%= p2.fifty %>,],
         
          ];
          wrapper2.setChartType('ColumnChart');
          wrapper2.setDataTable(data2);
          wrapper2.draw();
          var data3 = 
          [
          ['Field', "<%= @player1.name %>", "<%= @player2.name %>",],
          ['Matches',<%= p1.m %> , <%= p2.sr %>,],
          ['Innings',<%= p1.inn %>, <%= p2.inn %>],
          ['Runs', <%= p1.runs %>, <%= p2.runs %>,],
          ['Highest',<%= p1.hs %>, <%= p2.hs %>,]
          ];
          wrapper3.setChartType('ColumnChart');
          wrapper3.setDataTable(data3);
          wrapper3.draw();

          div_odi.style.display = 'block';
          // div_t20.style.display = 'none';
          // div_test.style.display = 'block';

          var ele = document.getElementById('m1');
          new change({i: ele.innerHTML, f: <%= p1.m %>, id: 'm1', time: 2000});

          ele = document.getElementById('inn1');
          new change({i: ele.innerHTML, f: <%= p1.inn %>, id: 'inn1', time: 2000});
          
          ele = document.getElementById('runs1');
          new change({i: ele.innerHTML, f: <%= p1.runs %>, id: 'runs1', time: 2000});
          
          ele = document.getElementById('hs1');
          new change({i: ele.innerHTML, f: <%= p1.hs %>, id: 'hs1', time: 2000});
          
          ele = document.getElementById('avg1');
          new change({i: ele.innerHTML, f: <%= p1.avg %>, id: 'avg1', time: 2000});
          
          ele = document.getElementById('sr1');
          new change({i: ele.innerHTML, f: <%= p1.sr %>, id: 'sr1', time: 2000});
          
          ele = document.getElementById('hundred1');
          new change({i: ele.innerHTML, f: <%= p1.hundred %>, id: 'hundred1', time: 2000});
          
          ele = document.getElementById('dhundred1');
          new change({i: ele.innerHTML, f: <%= p1.dhundred %>, id: 'dhundred1', time: 2000});
          
          ele = document.getElementById('fifty1');
          new change({i: ele.innerHTML, f: <%= p1.fifty %>, id: 'fifty1', time: 2000});
          
          ele = document.getElementById('four1');
          new change({i: ele.innerHTML, f: <%= p1.four %>, id: 'four1', time: 2000});
          
          ele = document.getElementById('six1');
          new change({i: ele.innerHTML, f: <%= p1.six %>, id: 'six1', time: 2000});    
          

          var ele = document.getElementById('m2');
          new change({i: ele.innerHTML, f: <%= p2.m %>, id: 'm2', time: 2000});

          ele = document.getElementById('inn2');
          new change({i: ele.innerHTML, f: <%= p2.inn %>, id: 'inn2', time: 2000});
          
          ele = document.getElementById('runs2');
          new change({i: ele.innerHTML, f: <%= p2.runs %>, id: 'runs2', time: 2000});
          
          ele = document.getElementById('hs2');
          new change({i: ele.innerHTML, f: <%= p2.hs %>, id: 'hs2', time: 2000});
          
          ele = document.getElementById('avg2');
          new change({i: ele.innerHTML, f: <%= p2.avg %>, id: 'avg2', time: 2000});
          
          ele = document.getElementById('sr2');
          new change({i: ele.innerHTML, f: <%= p2.sr %>, id: 'sr2', time: 2000});
          
          ele = document.getElementById('hundred2');
          new change({i: ele.innerHTML, f: <%= p2.hundred %>, id: 'hundred2', time: 2000});
          
          ele = document.getElementById('dhundred2');
          new change({i: ele.innerHTML, f: <%= p2.dhundred %>, id: 'dhundred2', time: 2000});
          
          ele = document.getElementById('fifty2');
          new change({i: ele.innerHTML, f: <%= p2.fifty %>, id: 'fifty2', time: 2000});
          
          ele = document.getElementById('four2');
          new change({i: ele.innerHTML, f: <%= p2.four %>, id: 'four2', time: 2000});
          
          ele = document.getElementById('six2');
          new change({i: ele.innerHTML, f: <%= p2.six %>, id: 'six2', time: 2000});
          <%end%>
        }

        <%if(!@p1OdiRecord.nil?&&!@p2OdiRecord.nil?)%>
        drawOdi();
        <%elsif(!@p1TestRecord.nil?&&!@p2TestRecord.nil?)%>
        drawTest();
        <%elsif(!@p1T20Record.nil?&&!@p2T20Record.nil?)%>
        drawT20();
        <%elsif(!@p1IplRecord.nil?&&!@p2IplRecord.nil?)%>
        drawIPL();
        <%end%>
        if(odiButton)
        odiButton.onclick = function()
        {
          drawOdi();
        }

        if(t20Button)
        t20Button.onclick = function()
        {
          drawT20();
        }

        if(testButton)
        testButton.onclick = function()
        {
          drawTest();
        }

        if(IplButton)
        IplButton.onclick = function()
        {
          drawIPL();
        }

      }
    </script>
    </html>
