
  
   <div class="container">
    <div class="row" style="margin-top: 20px;">
     
        <div class="col s12 m7 l4">
           
             <div class="card horizontal" style="padding: 20px;">
              <div class="card-image">
                <%str="http://i.cricketcb.com/stats/img/faceImages/"+@idd1.to_s+".jpg"%>
                <img src=<%=str%> style="overflow: hidden;border-radius: 50%;">
                  
              </div>
              <div class="card-stacked">
                
                <div class="card-action">
                  <%=link_to @player1.name,profile_path(@player1.slug),data: { turbolinks: false }%>
                  
                  <br>
                   <%=link_to @player1.country,country_path(@player1.country),data: { turbolinks: false }%> 
                </div>
              </div>
            </div>
          </div>
         
          <div class="col s12 m7 l4 offset-l4">
           
            <div class="card horizontal" style="padding: 20px;">
              <div class="card-image">
                <%str="http://i.cricketcb.com/stats/img/faceImages/"+@idd2.to_s+".jpg"%>
                <img src=<%=str%> style="overflow: hidden;border-radius: 50% ">
              </div>
              <div class="card-stacked">
                
                <div class="card-action">
                  <%=link_to @player2.name,profile_path(@player2.slug),data: { turbolinks: false }%>
                  
                  <br>
                  <%=link_to @player2.country,country_path(@player2.country),data: { turbolinks: false }%> 
                </div>
              </div>
            </div>
          </div>
          
          <!-- don't delete below div it fix positon of buttons -->
          <div class="col l12"></div>

          <div id="all-buttons" class="col l4 offset-l4"> 
             <%if(!@p1OdiRecord.nil?&&!@p2OdiRecord.nil?)%>
              <!-- <input type = 'button' id = 'b1' value = 'ODIs' /> -->
              <a class="waves-effect waves-light btn" id="b1">ODI</a>
              <%end%>
              <%if(!@p1T20Record.nil?&&!@p2T20Record.nil?)%>  
              <a class="waves-effect waves-light btn" id="b2">T20</a>
              <!-- <input type = 'button' id = 'b2' value = 'T20s' /> -->
              <%end%>
              <%if(!@p1TestRecord.nil?&&!@p2TestRecord.nil?)%>
              <!-- <input type = 'button' id = 'b3' value = 'Tests' /> -->
              <a class="waves-effect waves-light btn" id="b3">Test</a>
              <%end%>
              <%if(!@p1IplRecord.nil?&&!@p2IplRecord.nil?)%>
              <a class="waves-effect waves-light btn" id="b4">IPL</a>
              <!-- <input type = 'button' id = 'b4' value = 'IPLs' /> -->
              <%end%>
             </div>
          <div class="col l12" style="margin-bottom:20px;margin-top:20px">
            <canvas id="myChart1" ></canvas>
          </div>
           <div class="col l12" style="margin-bottom:20px">
            <canvas id="myChart2" ></canvas>
          </div>
          <div class="col l12" style="margin-bottom:20px">
            <canvas id="myChart3" ></canvas>
          </div>
    </div>
     
   </div>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js">

</script>
<script>

    var odiButton = document.getElementById('b1');  
        var t20Button = document.getElementById('b2');  
        var testButton = document.getElementById('b3');  
        var IplButton = document.getElementById('b4');
         
        if(odiButton)
        odiButton.onclick = function()
        {
          drawOdi();
        }
        
        if(t20Button)
        t20Button.onclick = function()
        {
          drawT20();
        } 
        if(testButton)
        testButton.onclick = function()
        {
          drawTest();
        }
       
        if(IplButton)
            IplButton.onclick = function()
            {
            drawIPL();
            }
            var dataarray11=[];
            var dataarray12=[];
            var dataarray21=[];
            var dataarray22=[];
            var dataarray31=[];
            var dataarray32=[];
            if(<%= !@notnullrecordfirst.nil? && !@notnullrecordsecond.nil? %>)
            {
                dataarray11=[<%= @notnullrecordfirst.sr %>,(<%= @notnullrecordfirst.four %>)/10,<%= @notnullrecordfirst.six %>,<%= @notnullrecordfirst.avg %>];
                dataarray12=[<%= @notnullrecordsecond.sr %>,(<%= @notnullrecordsecond.four %>)/10,<%= @notnullrecordsecond.six %>,<%= @notnullrecordsecond.avg %>];
                dataarray22=[<%= @notnullrecordsecond.hundred %>,<%= @notnullrecordsecond.dhundred %>,<%= @notnullrecordsecond.fifty %>];
                dataarray21=[<%= @notnullrecordfirst.hundred %>,<%= @notnullrecordfirst.dhundred %>,<%= @notnullrecordfirst.fifty %>];
                dataarray31=[<%= @notnullrecordfirst.m %>,<%= @notnullrecordfirst.inn %>,<%= @notnullrecordfirst.runs %>,<%= @notnullrecordfirst.hs %>];
                dataarray32=[<%= @notnullrecordsecond.m %>,<%= @notnullrecordsecond.inn %>,<%= @notnullrecordsecond.runs %>,<%= @notnullrecordsecond.hs %>];
            }
       var ctx1 = document.getElementById("myChart1");
        console.log(ctx1);
        var myChart1 = new Chart(ctx1, {
          type: 'bar',
          data: {
           labels: ["Strike Rate", "Fours/10","Sixes","Average"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: dataarray11,
                backgroundColor: [
                       '#4a148c',
                        '#4a148c','#4a148c',
                        '#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c' ,'#4a148c',
                        '#4a148c'             
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: dataarray12,
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1,
              
           }
        ]
    },
    options: {

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        title: {
            display: true,
            text: '<%= @formatofnullrecord %>',
            fontColor: '#2bbbad',
            fontSize: 22,
        }
    }
});
var ctx2 = document.getElementById("myChart2");
        var myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
           labels: ["Hundred's", "Double Hundred's","Fifties"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: dataarray21,
                backgroundColor: [
                       '#f2f204',
                        '#f2f204', '#f2f204'
                    ],
            borderColor: [
                 '#f2f204',
                        '#f2f204' , '#f2f204'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: dataarray22,
            backgroundColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                         
            ],
            borderColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                        
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
var ctx3 = document.getElementById("myChart3");
        var myChart3 = new Chart(ctx3, {
          type: 'bar',
          data: {
           labels: ["Matches", "Innings","Runs","Highest"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: dataarray31,
                backgroundColor: [
                       '#ca04f2',
                        '#ca04f2','#ca04f2',
                        '#ca04f2'
                    ],
            borderColor: [
                 '#ca04f2',
                        '#ca04f2' ,'#ca04f2',
                        '#ca04f2'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: dataarray32,
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});

        
        function drawOdi()
        {
          <% p1 = @p1OdiRecord %>
          <% p2 = @p2OdiRecord %>
          <% if(p1 && p2) %>
         if(myChart1)
            myChart1.destroy();
          myChart1=new Chart(ctx1, {
          type: 'bar',
          data: {
           labels: ["Strike Rate", "Fours/10","Sixes","Average"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.sr %>,(<%= p1.four %>)/10,<%= p1.six %>,<%= p1.avg %>],
                backgroundColor: [
                       '#4a148c',
                        '#4a148c','#4a148c','#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c','#4a148c','#4a148c'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.sr %>,(<%= p2.four %>)/10,<%= p2.six %>,<%= p2.avg %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
            display: true,
            text: 'ODI Comparison',
            fontColor: '#2bbbad',
            fontSize: 22,
        }
    }
});
myChart2.destroy();
myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
           labels: ["Hundred's", "Double Hundred's","Fifties"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.hundred %>,<%= p1.dhundred %>,<%= p1.fifty %>],
                backgroundColor: [
                       '#f2f204',
                        '#f2f204', '#f2f204'
                    ],
            borderColor: [
                 '#f2f204',
                        '#f2f204' , '#f2f204'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.hundred %>,<%= p2.dhundred %>,<%= p2.fifty %>],
            backgroundColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                         
            ],
            borderColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                        
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
myChart3.destroy();
myChart3 = new Chart(ctx3, {
          type: 'bar',
          data: {
           labels: ["Matches", "Innings","Runs","Highest"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.m %>,<%= p1.inn %>,<%= p1.runs %>,<%= p1.hs %>],
                backgroundColor: [
                       '#ca04f2',
                        '#ca04f2','#ca04f2',
                        '#ca04f2'
                    ],
            borderColor: [
                 '#ca04f2',
                        '#ca04f2' ,'#ca04f2',
                        '#ca04f2'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.m %>,<%= p2.inn %>,<%= p2.runs %>,<%= p2.hs %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
         <%end%>
        }
 
        function drawT20()
        {
         
 
          <% p1 = @p1T20Record %>
          <% p2 = @p2T20Record %>
 
          <% if(p1 && p2) %>
          myChart1.destroy();
          myChart1=new Chart(ctx1, {
          type: 'bar',
          data: {
           labels: ["Strike Rate", "Fours/10","Sixes","Average"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.sr %>,(<%= p1.four %>)/10,<%= p1.six %>,<%= p1.avg %>],
                backgroundColor: [
                       '#4a148c',
                        '#4a148c','#4a148c','#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c','#4a148c','#4a148c'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.sr %>,(<%= p2.four %>)/10,<%= p2.six %>,<%= p2.avg %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
            display: true,
            text: 'T20 Comparison',
            fontColor: '#2bbbad',
            fontSize: 22,
        }
    }
});
myChart2.destroy();
myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
           labels: ["Hundred's", "Double Hundred's","Fifties"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.hundred %>,<%= p1.dhundred %>,<%= p1.fifty %>],
                backgroundColor: [
                       '#f2f204',
                        '#f2f204', '#f2f204'
                    ],
            borderColor: [
                 '#f2f204',
                        '#f2f204' , '#f2f204'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.hundred %>,<%= p2.dhundred %>,<%= p2.fifty %>],
            backgroundColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                         
            ],
            borderColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                        
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
myChart3.destroy();
myChart3 = new Chart(ctx3, {
          type: 'bar',
          data: {
           labels: ["Matches", "Innings","Runs","Highest"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.m %>,<%= p1.inn %>,<%= p1.runs %>,<%= p1.hs %>],
                backgroundColor: [
                       '#ca04f2',
                        '#ca04f2','#ca04f2',
                        '#ca04f2'
                    ],
            borderColor: [
                 '#ca04f2',
                        '#ca04f2' ,'#ca04f2',
                        '#ca04f2'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.m %>,<%= p2.inn %>,<%= p2.runs %>,<%= p2.hs %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
         
          <%end%>
        }
 
        function drawTest()
        {
         
          <% p1 = @p1TestRecord %>
          <% p2 = @p2TestRecord %>
 
          <% if(p1 && p2) %>
          myChart1.destroy();
          myChart1=new Chart(ctx1, {
          type: 'bar',
          data: {
           labels: ["Strike Rate", "Fours/10","Sixes","Average"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.sr %>,(<%= p1.four %>)/10,<%= p1.six %>,<%= p1.avg %>],
                backgroundColor: [
                       '#4a148c',
                        '#4a148c','#4a148c','#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c','#4a148c','#4a148c'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.sr %>,(<%= p2.four %>)/10,<%= p2.six %>,<%= p2.avg %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
            display: true,
            text: 'TEST Comparison',
            fontColor: '#2bbbad',
            fontSize: 22,
        }
    }
});
myChart2.destroy();
myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
           labels: ["Hundred's", "Double Hundred's","Fifties"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.hundred %>,<%= p1.dhundred %>,<%= p1.fifty %>],
                backgroundColor: [
                       '#f2f204',
                        '#f2f204', '#f2f204'
                    ],
            borderColor: [
                 '#f2f204',
                        '#f2f204' , '#f2f204'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.hundred %>,<%= p2.dhundred %>,<%= p2.fifty %>],
            backgroundColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                         
            ],
            borderColor: [
                '#7cb342',
                        '#7cb342' ,'#7cb342'
                        
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
 myChart3.destroy();
myChart3 = new Chart(ctx3, {
          type: 'bar',
          data: {
           labels: ["Matches", "Innings","Runs","Highest"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.m %>,<%= p1.inn %>,<%= p1.runs %>,<%= p1.hs %>],
                backgroundColor: [
                       '#ca04f2',
                        '#ca04f2','#ca04f2',
                        '#ca04f2'
                    ],
            borderColor: [
                 '#ca04f2',
                        '#ca04f2' ,'#ca04f2',
                        '#ca04f2'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.m %>,<%= p2.inn %>,<%= p2.runs %>,<%= p2.hs %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});        
          <%end%>
        }
 
        function drawIPL()
        {
          //options['title'] = "Comparison in IPL";
 
          <% p1 = @p1IplRecord %>
          <% p2 = @p2IplRecord %>
 
          <% if(p1 && p2) %>
          myChart1.destroy();
          myChart1=new Chart(ctx1, {
          type: 'bar',
          data: {
           labels: ["Strike Rate", "Fours/10","Sixes","Average"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.sr %>,(<%= p1.four %>)/10,<%= p1.six %>,<%= p1.avg %>],
                backgroundColor: [
                       '#4a148c',
                        '#4a148c','#4a148c','#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c','#4a148c','#4a148c'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.sr %>,(<%= p2.four %>)/10,<%= p2.six %>,<%= p2.avg %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
            display: true,
            text: 'IPL Comparison',
            fontColor: '#2bbbad',
            fontSize: 22,
        }
    }
 
});
myChart2.destroy();
myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
           labels: ["Hundred's", "Double Hundred's","Fifties"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.hundred %>,<%= p1.dhundred %>,<%= p1.fifty %>],
                backgroundColor: [
                       '#4a148c',
                        '#4a148c', '#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c' , '#4a148c'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.hundred %>,<%= p2.dhundred %>,<%= p2.fifty %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});
        myChart3.destroy();
myChart3 = new Chart(ctx3, {
          type: 'bar',
          data: {
           labels: ["Matches", "Innings","Runs","Highest"],
            datasets: [
              {
                label: '<%= @player1.name %>',
                data: [<%= p1.m %>,<%= p1.inn %>,<%= p1.runs %>,<%= p1.hs %>],
                backgroundColor: [
                       '#4a148c',
                        '#4a148c','#4a148c',
                        '#4a148c'
                    ],
            borderColor: [
                 '#4a148c',
                        '#4a148c' ,'#4a148c',
                        '#4a148c'              
            ],
            borderWidth: 1
           },
           {
            label: '<%= @player2.name %>',
            data: [<%= p2.m %>,<%= p2.inn %>,<%= p2.runs %>,<%= p2.hs %>],
            backgroundColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderColor: [
                '#ff3d00',
                '#ff3d00','#ff3d00',
                '#ff3d00'
            ],
            borderWidth: 1
           }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                gridLines :{
                  display:false
                }
            }]
        },
        
    }
});  
          <%end%>
         
        }
 
       
</script>

