<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
  
 
</head>
<body>
<header>
        <div class="navbar-fixed">
    <nav class=navMain>
      <div class="nav-wrapper">
        
         <div class="row left hide-on-med-and-down" style="width: 500px;">
    <div class="col s12" style="margin-top: 5px;">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1" id="home" onclick="home()">Home</a></li>
        <li class="tab col s3"><a href="#test1" id="team" onclick="teamIndex()">Teams</a></li>
        <li class="tab col s3"><a  href="#test2" id="player" onclick="playerIndex()">Players</a></li>
        
      </ul>
    </div>
   
  </div>
       
        <ul class="right hide-on-med-and-down">
          <li><div class="nav-wrapper" style="height: 64px">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="Search Player" required>
          <label for="search"><i class="material-icons" style="color: black;">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div></li>
          <li><a class="waves-effect waves-light btn" style="background-color: #0084B4"><i class="fa fa-facebook left" aria-hidden="true" style="color: white;height: 36px;line-height: 36px;"></i>Facebook</a></li>
          <li><a class="waves-effect waves-light btn" style="width: 32px;height: 32px;"><i class="fa fa-list left" aria-hidden="true" style="color: white;height: 36px;line-height: 36px;"></i></a></li>
          
         
        </ul>
      </div>
    </nav>
  </div>
    </header> 

 

 <!--these two -->

   
       <!--  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script> -->
       
<!-- 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->

       <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
      
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> -->
        <script src="https://use.fontawesome.com/2c09b7e045.js"></script>
        
       

       <!--  <script>$.widget.bridge('uitooltip', $.ui.tooltip);</script> -->
       <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <script type="text/javascript" src="/assets/searchAutocomplete.js"></script>

  <%= yield %>
 
 
</body>
</html>