<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1120021018113378";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
 
</head>
<body>
<header>
        <div class="navbar-fixed">
    <nav class=navMain>
      <div class="nav-wrapper">
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: black;">menu</i></a> 
       <ul class="side-nav" id="mobile-demo">
        <li><a href="#test1" id="home" onclick="home()">Home</a></li>
        <li><a href="#test1" id="team" onclick="teamIndex()">Teams</a></li>
        
      </ul> 
         <div class="row left hide-on-med-and-down" style="width: 500px;">
    <div class="col s12" style="margin-top: 5px;">
      <ul class="tabs">
        <li class="tab col s3"><a href="" id="home" onclick="home()">Home</a></li>
        <li class="tab col s3"><a href="" id="team" onclick="teamIndex()">Teams</a></li>
        
        
      </ul>
    </div>
   
  </div>
       
        <ul class="right hide-on-med-and-down">
          <li><div class="nav-wrapper" style="height: 64px">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="Search Player" required>
          <label for="search"><i class="material-icons" style="color: black;">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div></li>
          <!-- <li>
            <div class="fb-share-button " data-href = "https://192.168.43.169.xip.io:3000/home" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore waves-effect waves-light btn" target="_blank" href= <%='https://www.facebook.com/sharer/sharer.php?u='+request.original_url %> style="background-color: #0084B4"><i class="fa fa-facebook left" aria-hidden="true" style="color: white;height: 36px;line-height: 36px;"></i>FACEBOOK</a></div>
          </li> -->
           <li>
            <%= social_share_button_tag("Checkout this amazing website!") %>
          </li> 
          <!-- <li><a class="waves-effect waves-light btn" style="width: 32px;height: 32px;"><i class="fa fa-list left" aria-hidden="true" style="color: white;height: 36px;line-height: 36px;"></i></a></li>  -->
          <li><button data-target="modal1" class="btn modal-trigger" style="height: 36px;width: 66px;padding: 0;margin-left: 4px;"><i class="fa fa-list left" aria-hidden="true" style="color: white;height: 36px;line-height: 36px;margin-left: 23px;"></i></button></li>
        </ul>
      </div>
    </nav>
  </div>
  
</header> 

 

 <!--these two -->

   
       <!--  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script> -->
       
<!-- 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->

       <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
      
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> -->
        <script src="https://use.fontawesome.com/2c09b7e045.js"></script>
        
       

       <!--  <script>$.widget.bridge('uitooltip', $.ui.tooltip);</script> -->
       <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <script type="text/javascript" src="/assets/searchAutocomplete.js"></script>

  <%= yield %>



 <!--  Modal Work -->

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Meet the Team</h4>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="https://ninjasfiles.s3.amazonaws.com/0000000000000044.png" alt="" class="circle" style="height: 62px;width: 62px;">
          <span class="title" style="margin-left: 15px;">Tushar Tuteja</span>
          <p style="margin-left: 15px;">Adviser <br>
             Coding Ninjas
          </p>
         
        </li>
        <li class="collection-item avatar">
          <img src="https://ninjasfiles.s3.amazonaws.com/0000000000000039.png" alt="" class="circle" style="height: 62px;width: 62px;">
          <span class="title" style="margin-left: 15px;">Ankush Singla</span>
          <p style="margin-left: 15px;">Adviser <br>
             Coding Ninjas
          </p>
          
        </li>
        <li class="collection-item avatar">
          <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/12234880_988622284536596_2505211453751756199_n.jpg?oh=f9a077e2c80eca27e948c5270aef7fa3&oe=58D608E7" alt="" class="circle" style="height: 62px;width: 62px;">
          <span class="title" style="margin-left: 15px;">Siddhant Bajaj</span>
          <p style="margin-left: 15px;">Developer</p>
             
          
          
        </li>
        <li class="collection-item avatar">
          <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13920734_1351853481495987_4266930590750891044_n.jpg?oh=83a7d10919bbe5def3ba0e563dfe02eb&oe=5913C79A" alt="" class="circle" style="height: 62px;width: 62px;">
          <span class="title" style="margin-left: 15px;">Sanchit Narula</span>
          <p style="margin-left: 15px;">Developer</p>
             
          
         
        </li>
        <li class="collection-item avatar">
          <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13319783_1128509937220114_962795756840644807_n.jpg?oh=f9be8a9dc6422196fa00507fe1a86baa&oe=58E3201D" alt="" class="circle" style="height: 62px;width: 62px;">
          <span class="title" style="margin-left: 15px;">Shivam Aggarwal</span>
          <p style="margin-left: 15px;">Developer</p>
             
          
          
        </li>
        <li class="collection-item avatar">
          <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13346722_1077658915613006_2077411956807867613_n.jpg?oh=7f45bed29252a621cdf35c6584d5fb93&oe=58E3AC4C" alt="" class="circle" style="height: 62px;width: 62px;">
          <span class="title" style="margin-left: 15px;">Rajat Singla</span>
          <p style="margin-left: 15px;">Developer</p>
             
          
          
        </li>
        
      </ul>
    </div>
    
  </div>
<script type="text/javascript">
  $(".button-collapse").sideNav();

  $('#search').autocomplete({
                  minLength: 3,
                  source: function(request,response){
                      console.log("here");
                      $.ajax({
                          method: 'GET',
                          url : '/players/autocomplete_player_name?term=' + $('#search').val(),
                          dataType : 'json',
                          success : function(data) {
                            data = data.slice(0,4);
                               response($.map(data,function(v,i) {
                                var playerName =  v.name;
 
                                return {
                                    id: v.webId,
                                    label: playerName,
                                    value: v.slug
                                }
                            }))
                        }
                    });
                },
                open: function() {
                   
                  },
                select: function(event,ui) {
                      window.location.href="http://howstats.com/profile/"+ui.item.value;
                },
                delay :0,
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
  return $( "<li>" )
    .data( "ui-autocomplete-item", item )
    .append( "<a><div style='height:100px'><img src='http://i.cricketcb.com/stats/img/faceImages/"+item.id+".jpg' class='center circle' style='height:60px ;width:60px'>"+"<br><h6>"+item.label+"</h6></div></a>"  )
    .appendTo(ul);
};

</script>

</body>
</html>
